<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Engage: Client</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


   <link rel="icon" href="https://i.postimg.cc/0y6wPc74/PHOTO-2021-02-11-14-18-19.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  <link rel="stylesheet" href="/css/vendor/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  <div id="app"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script src="/dist/bundle.js"></script>
</body>

</html>
